

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
}


/* AUDIO BLOCK */
.audio-block {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  animation: fade-in-out 1.5s .3s both;
  
  /* AUDIO INNER */
  .audio-inner {
    width: 100%;
    height: 100%;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }
  
  .audio-txt {
    width: fit-content;
    font-size: 12px;
    font-family: Pretendard;
    color: #fbfbfb;
    background: #b7a899;
    padding: 4px 20px;
    border-radius: 60px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fade-up-out 1.5s ease-out 3s forwards;
  }

  /* MUTE BUTTON */
  .btn-mute-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: unset;
    outline: unset;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 12px;
    color: #544f4fcc;
    /* opacity: 0; */

    svg {
      display: none;
    }

    &.unmute svg.fa-volume-low {
      display: block;
    }

    &.mute svg.fa-volume-xmark {
      display: block;
    }
  }

}
/* AUDIO BLOCK // */


#app {
  background-color: #f9e8eb;
}


@keyframes fade-in-out {
  0%   { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fade-up-out {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100px); }
}